body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-size: 27px;
  background: #000000; 
  background-image: radial-gradient(circle at center, rgba(200, 200, 200, 0.2) 1%, transparent 1%), radial-gradient(circle at 50% 50%, rgba(200, 200, 200, 0.2) 1%, transparent 1%);
  background-size: 150px 150px; 
  background-position: 0 0, 75px 75px; 
  animation: spiral 8s linear infinite; 
}

  #meow-redirect-title {
     color: white;
  }

@keyframes spiral {
  0% {
    background-position: 0 0, 75px 75px;
  }
  100% {
    background-position: 600px 600px, 675px 675px; 
  }
}

.container {
  text-align: center;
  padding: 38px;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  max-width: 800px;
  margin: 0 auto;
}

.redirect-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(255, 0, 0, 0.5);
  background-color: #FF4D4D;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  body {
    font-size: 22px;
  }
  .redirect-button {
    font-size: 1.2rem;
    padding: 16px 24px;
  }
  h1 {
    font-size: 2.4rem;
  }
}
