/* Reset Canvas */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Fullscreen canvas for the background */
#spiderweb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Keep it behind content */
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-size: 27px;
  background: black;
}

#meow-redirect-title {
  color: white;
  animation: fadeInGlow 3s ease-in-out infinite alternate;
}

.container {
  text-align: center;
  padding: 38px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  max-width: 800px;
  margin: 0 auto;
}

.redirect-button {
  display: block;
  width: 90%; 
  padding: 24px 48px; 
  margin: 18px auto;
  background-color: #FF0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem; 
}
